.attachment-file {

  @attachment-file-height: 40px;

  #message-form-normalize .border-radius();
  #message-form-normalize .box-clickable();

  position: relative;

  overflow: hidden;

  line-height: @attachment-file-height;
  vertical-align: middle;

  > .file-type {

    float: left;

    height: @attachment-file-height;
    min-width: @attachment-file-height;

    padding: 0 5px;

    color: @message-attachments-white;

    line-height: @attachment-file-height;

    text-align: center;

  }

  > .file-name {

    #message-form-normalize .font-emphasize();
    #message-form-normalize .text-overflow();

    padding: 0 15px;

  }

  > .progress {
    position: absolute;
    top: 0;
    left: 0;

    height: @attachment-file-height;

    background-color: rgba(236, 194, 194, 0.76);

    -webkit-transition: width 400ms;
    -moz-transition: width 400ms;
    -ms-transition: width 400ms;
    -o-transition: width 400ms;
    transition: width 400ms;
  }

}
