.attachment-file {

  @attachment-file-height: 40px;

  #message-form-normalize .border-radius();
  #message-form-normalize .box-clickable();
  #message-form-normalize .margin();

  width: 100%;

  line-height: @attachment-file-height;

  cursor: pointer;

  > .extension {

    float: left;

    height: @attachment-file-height;

    padding: 0 15px;

    line-height: @attachment-file-height;

    text-align: center;
    vertical-align: middle;

  }

  > .name {

    #message-form-normalize .font-emphasize();
    #message-form-normalize .text-overflow();

    padding: 0 15px;

  }

}
