.attachment-quote {

  .BoxPrototype();

  &.is-clickable {

    #TalkMessageForms .Clickable();

  }

  .picture {

    #TalkMessageForms .BackgroundBoundary();

    display: block;

    height: 64px;
    width: 64px;

  }

  .content {
    white-space: pre-wrap;
  }

  .title {
    display: flex;
    .action {
      display: flex;
      align-items: center;
      height: 24px;
      font-size: 18px;
      color: @iconColor;
      transition: opacity .1s;
      padding: 0 4px;
      text-decoration: none;
      &:hover {
        color: @iconColorHover;
        background-color: inherit;
      }
    }
  }

  &.is-green:before {
    background-color: #A1E1C1;
  }
  &.is-yellow:before {
    background-color: #FFE28C;
  }
  &.is-red:before{
    background-color: #FFD2CC;
  }

}
