.attachment-quote {

  .BoxPrototype();

  &.is-clickable {

    #TalkMessageForms .Clickable();

  }

  .picture {

    #TalkMessageForms .BackgroundBoundary();

    display: block;

    height: 64px;
    width: 64px;

  }

  .content {
    white-space: pre-wrap;
  }

}
