#TalkMessageForms {

  .BackgroundBoundary() {
    background-size: cover;
    background-position: center center;
  }

  .BorderRadius(@value: 3px) {
    border-radius: @value;
  }

  .Box() {
    border: 1px solid @colorGray;
  }

  .BoxModal(@value: 15px) {
    padding: @value;
    border-left: 5px solid @colorGray;
  }

  .BoxText() {
    line-height: @lineHeight;
  }

  .Clickable() {
    cursor: pointer;

    &:hover {
      background: @colorGrayHover;
    }
  }

  .FileClickable() {
    border: 1px solid @colorGray;

    cursor: pointer;

    &:hover {
      background: @colorGrayHover;
    }
  }

  .FontEmphasize() {
    font-style: normal;
    font-weight: bold;
  }

  .ImageClickable() {
    cursor: pointer;

    &:hover {
      .opacity(0.9)
    }

  }

  .Margin(@value: 10px) {
    margin-top: @value;
  }

  .ParagraphOverflow(@value: 8) {
    display: block;
    display: -webkit-box;

    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-line-clamp: @value;
    -webkit-box-orient: vertical;
  }

  .TextOverflow() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}

.BoxPrototype() {

  #TalkMessageForms .BoxModal();
  #TalkMessageForms .BoxText();

  div + div {
    margin-top: 10px;
  }

  .title {

    #TalkMessageForms .FontEmphasize();
    #TalkMessageForms .TextOverflow();

    font-size: 16px;

  }

  .content {

    #TalkMessageForms .ParagraphOverflow(@boundary);

    max-height: @boundary * @lineHeight;

    font-size: 14px;

  }

}
