@boundary: 8;
@lineHeight: 20px;

@colorGray: #E6E6E6;
@colorGrayHover: #C7C7C7; // gray-bg-level-1
@colorWhite: #fff;

@colorFontDim: #7D7E80;

@iconColor: #C7C7C7;
@iconColorHover: #A8A8A8;

.message-attachments {}
