@message-attachments-line-height: 20px;
@message-attachments-line-boundary: 8;

@message-attachments-gray: #eee;
@message-attachments-gray-hover: rgba(247, 247, 247, 1); // gray-bg-level-1
@message-attachments-white: #fff;

.message-attachments {}
